@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif
}

body {
    display: flex;
    justify-content: center;
    background: #f7fdff;
    align-items: center;
    min-height: 80vh;
}

.adminidform {
    position: relative;
    width: 700px;
    background: white;
    border: 1px hidden #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(179, 179, 179, 0.2), 0 6px 8px 0 rgba(181, 180, 180, 0.19);
}

.adminidform h2 {
    position: relative;
    text-align:left;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 30px;
}
input[type=text]{
    position: relative;
    width: 350px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding-left:20px ;
    padding-right: 20px;
    margin-left: 20px;
    display: inline-block;
}

input[type=password]{
    position: relative;
    width: 350px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding-left:20px;
    padding-right: 20px;
    margin-left: 10px;
    display: inline-block;
}

.labels {
    padding-left: 5%;
    font-size: 18px;
}

.forgot-pass{
    padding-left: 5%;
}

.forgot-pass a {
    text-decoration: none;
}

.loginButton{
    width:100px;
    height: 35px;
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 40px;
    border: 1px solid #ccc;
    background: black;
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

.loginButton:hover{
    opacity: 0.8;
}

